body {
      background: #FFFEEE;
      margin:0px;
     }
     
#container {
	width: 98%;
	height: 100%;
	margin-top: 2em;

}


#output {
        position: relative;
    
	width: 100%;
	height: 127px;
	overflow: auto;
	border: solid 1px #EEEDDD;
	font-family: monospace;
}
a.button {
        color: black;
        background: #FFFFFF;
        padding-left: 10px;
        padding-right: 10px;
        border: solid black 1px;
        border-radius: 5px;
        text-decoration: none;
	
}

div.category p { 
    width:100%;
    border-bottom: dashed 1px grey;
    border-top: dashed 1px grey;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.category a {
    text-decoration: none;
    color: black;
    font-family: helvetica;
    margin: 5px;
}

div.category li, ul {
        list-style-type: none;
        font-family: helvetica;
        font-size: .95em;
        margin: 2px;
        margin-left: 3px;
        margin-right: 0px;
        padding: 0px;
}

#newRecipeFile, #newMaterialFile {
    color: grey;
    font-style: italic;
}

#graph {
	width:100%;
	min-width:240px;
	height:550px;
	
}

#resultArea {
    width: 35%;
    min-width:240px;
    float: left;
    
}

div#dataContainer {
    float: left;
    width: 34%;
    min-width:240px;
    position: relative;
    height:90%;
    overflow:hidden;
}

#dataTable {
	
	   
	float: left;
	height: 600px;
	width: 100%;
	overflow: hidden;
 
}

input#name {
    position:relative;
   
    font-size: 1.1em;
    
    border: none;
    background: #FFFEEE;
    width: 100%;
    
}



div#environmentContainer {
   /* margin-right: 10px;  */
    float: left;
    width: 100%;
    min-width: 240px;
    max-width: 340px;
    border: solid 1px grey;
}

/*Increase padding and font-size for touch based
table.htCore td {
    padding: 4px;
    font-size: 1.1em;
}*/

input[type="text"] {
        width: 40px;
        border-width: 0px 0px 1px 0px;
        border-color: #BBB;
        text-align: center;
        background: #FFFEEE;
        font-size: .95em;
}

#materialContainer{
        display: none;
}
