body {
      background: #FFFEEE;
     }
     
#container {
	width: 1024px;
	height: 768px;
	margin-left:auto;
	margin-right:auto;
}



#output {
        position: relative;
        float:right;
	width: 475px;
	height: 110px;
        margin: 2px;
	overflow: auto;
	border: solid 1px #EEEDDD;
	font-family: monospace;
}
a.button {
        color: black;
        background: #FFFFFF;
        padding-left: 10px;
        padding-right: 10px;
        border: solid black 1px;
        border-radius: 5px;
        text-decoration: none;
	
}

#graph {
	width:500px;
	height:350px;
	float: right;
	margin: 0px;
}

#resultArea {
    width: 424px;
    float: right;
    margin: 0px;
}


#dataTable {
	position: relative;
	margin-top: 0px;    
	float: left;
	height: 500px;
	width: 400px;
	overflow-y: scroll;
	overflow-x: auto;
 
}

input#name {
    position:relative;
    margin: 10px;
    font-size: 1.5em;
    width: 400px;
    text-align: center;
    border: none;
    background: #FFFEEE;
    width: 730px;
}

div#dataContainer {
    float: left;
    width: 400px;
    height: 520px;
    overflow:hidden;
}

div#environmentContainer {
    float: left;
    width: 200px;
}
