body {
      background: #FFFEEE;
     }
     
#container {
	width: 850px;
	margin-left:auto;
	margin-right:auto;
}

 table,td {
	border: solid black 1px;
	width: 383px;
	background: #FFFFFF;
} 

#output {
        position: relative;
        float:right;
	width: 400px;
	height: 475px;
        margin: 2px;
	resize: none;
}
a.button {
        color: black;
        background: #FFFFFF;
        padding-left: 10px;
        padding-right: 10px;
        border: solid black 1px;
        border-radius: 5px;
        text-decoration: none;
	
}

#resultArea {
    width: 400px;
    float: right;
}


#dataTable {
	position: relative;
	margin-top: 0px;    
	float: left;
	height: 500px;
	width: 400px;
	overflow-y: scroll;
 
}

input#materialTitle {
    position:relative;
    margin: 0px;
    font-size: 1.5em;
    width: 400px;
    text-align: center;
    border: none;
    background: #FFFEEE
}
